.stepper {
  @extend .flex-row-center-center;
  width: 100%;
  min-height: 35px;
  margin: 50px 0;
  &_prev {
    padding: 10px;
    margin-right: 5px;
    color: $main_color;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $main_color;
    }
  }
  &_next {
    padding: 10px;
    margin-left: 5px;
    color: $main_color;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $main_color;
    }
  }
}
