.no-display {
  display: none;
}
.no-visibility {
  visibility: hidden;
}

.step-completed {
  svg {
    height: 30px;
    width: 30px;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #3c3c3c;
  padding: 50px 10px;
  &_heading {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    min-width: 350px;
  }
  &_secondary {
    width: 100%;
    background-color: antiquewhite;
    padding: 10px;
  }
  &_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &_elements {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      input,
      select,
      textarea {
        justify-self: flex-end;
        margin-left: auto;
        width: 100%;
        height: $inputHeight;
        padding-left: 5px;
        color: $main_color;
      }
      label {
        font-weight: 600;
        display: block;
        margin-bottom: 0.5rem;
        color: $main_color;
      }
    }
  }
  &_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  input:focus {
    /* border-color: #007eff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 0 3px rgba(0, 126, 255, 0.1); */
    outline: none;
  }
  input.error {
    border-color: red;
  }

  .input-feedback {
    color: red;
    margin-bottom: 1rem;
    align-self: flex-end;
  }
  button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
    }
    &.outline {
      background-color: #eee;
      border: 1px solid #aaa;
      color: #555;
    }
  }
  button + button {
    margin-left: 0.5rem;
  }
  .react-tel-input {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    width: 100%;
    input {
      height: $inputHeight;
      width: 100%;
      padding-left: 44px;
      font-size: 12px;
      border-radius: 0;
    }
    .flag-dropdown {
      left: 0;
      border-radius: 0;
    }
    .phone-number-country {
      width: 250px;
    }
    .country {
      display: flex;
      justify-content: flex-start;
    }
  }
}
